body {
    background-color: #f0f4ff;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.circle {
    position: absolute;
    width: 100vw;
    height: 100vw;
    max-width: 700px;
    max-height: 700px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 50px 10px white;
}

.top-right {
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-40%, 40%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering box both horizontally and vertically */
    width: 80%;
    max-width: 300px;
    max-height: 1200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 50px 15px #e1e9ff;
    padding: 20px;
}

.container > div {
    padding: 25px;
}

.container > div:hover {
    color: #2374f8; /* Text color on hover */
}

.menu-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
    padding-left: 0; /* Ensure no left padding so the bar touches the edge */
    transition: padding-left 0.3s;
}

.container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 5px; /* Set the width of the blue bar */
    height: 100%; /* The bar covers the entire height of the container */
    background-color: #2374f8;
    transition: width 0.3s;
}

.menu-item:hover {
    padding-left: 5px;
}

.menu-item:hover::before {
    width: 5px; /* Width of the rectangle bar on hover */
}

.menu-item .icon {
    width: 24px;
    height: 24px;
    color: #b7b7b7; /* Default icon color */
    margin-right: 25px; /* Space between icon and text */
}

.menu-item:hover .icon {
    color: #2374f8; /* Adjust icon color on hover */
}

/* Optional: Add some styles for the text */
.menu-item span {
    font-size: 16px;
}

/* ---------------- Font Weights ----------------  */
.nokora-thin {
    font-family: 'Nokora', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.nokora-light {
    font-family: 'Nokora', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nokora-regular {
    font-family: 'Nokora', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nokora-bold {
    font-family: 'Nokora', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nokora-black {
    font-family: 'Nokora', sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* ---------------- Responsive Design ---------------- */

/* Small screens (mobile devices) */
@media only screen and (max-width: 768px) {
    .rectangular-box {
        width: 90%;
        height: 30vh;
        padding: 10px;
        margin: 10px auto;
    }
}

/* Large screens (desktop devices) */
@media only screen and (min-width: 1200px) {
    .rectangular-box {
        width: 70%;
        height: 50vh;
        padding: 30px;
        margin: 30px auto;
    }
}
