/* Global */
:root {
    --main-color: #2374f8;
    --background-color: #f0f4ff;
    --shadow-color: #e1e9ff;
}

body {
    background-color: var(--background-color);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Background */
.circle {
    position: absolute;
    width: 100vw;
    height: 100vw;
    max-width: 700px;
    max-height: 700px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 50px 100px white;
}

.top-right {
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-40%, 40%);
}

/* Menu */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering box both horizontally and vertically */
    width: 80%;
    max-width: 300px;
    max-height: 1200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 50px 15px var(--shadow-color);
    padding: 20px;
}

.container > div {
    padding: 25px;
}

.container > div:hover {
    color: var(--main-color); /* Text color on hover */
}

.menu-item {
    display: flex; /* Define display flex */
    position: relative;
    align-items: center; /* Center flex items vertically */
    justify-content: flex-start; /* Align flex items to left side */
    padding: 15px 0;
    padding-left: 10px; /* Add initial padding to the left */
    transition: padding-left 0.3s; /* Smooth transition for padding */
    cursor: pointer; /* Pointer cursor on hover */
}

.menu-item::before {
    position: absolute;
    content: '';
    top: 0;
    left: -20px;
    width: 0;
    height: 100%;
    background-color: var(--main-color); /* Color of the rectangle bar */
    transition: width 0.1s; /* Smooth transition for width */
}

.menu-item:hover {
    padding-left: 15px; /* Increase padding on hover */
}

.menu-item:hover::before {
    width: 5px; /* Width of the rectangle bar on hover */
}

.menu-item .icon {
    width: 24px;
    height: 24px;
    color: #b7b7b7; /* Default icon color */
    margin-right: 25px; /* Space between icon and text */
}

.menu-item:hover .icon {
    color: var(--main-color); /* Icon color on hover */
}

.menu-item span {
    font-size: 16px;
}

.button-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Menu Button */
.menu-button {
    background-color: var(--main-color); /* Use the main color defined in your CSS variables */
    color: white; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.menu-button:hover {
    background-color: var(--main-color); /* Darken the button on hover */
    filter: brightness(90%); /* Reduce brightness to darken */
}

/* ---------------- Font Weights ----------------  */
.nokora-thin {
    font-family: 'Nokora', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.nokora-light {
    font-family: 'Nokora', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nokora-regular {
    font-family: 'Nokora', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nokora-bold {
    font-family: 'Nokora', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nokora-black {
    font-family: 'Nokora', sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* ---------------- Responsive Design ---------------- */

/* Small screens (mobile devices) */
@media only screen and (max-width: 768px) {
    .rectangular-box {
        width: 90%;
        height: 30vh;
        padding: 10px;
        margin: 10px auto;
    }
}

/* Large screens (desktop devices) */
@media only screen and (min-width: 1200px) {
    .rectangular-box {
        width: 70%;
        height: 50vh;
        padding: 30px;
        margin: 30px auto;
    }
}
