:root {
    --background-color: #dce4f8;

    --linear-gradient-color-1: #617bda;
    --linear-gradient-color-2: #1134b0;

    --input-background-color: #5871d5;
    --input-button-color: #ffffff;
    --input-placeholder-color: rgba(255, 255, 255, 0.7);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15); /* Soften shadow */
    background-color: var(--background-color);
    border-radius: 22px;
    width: 930px;
    height: 330px;
}

.login-box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(
        135deg,
        var(--linear-gradient-color-1),
        var(--linear-gradient-color-2)
    );
}

.login-text > h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;
}

.login-text > p {
    margin: 10px auto 0;
    max-width: 300px;
    text-align: center;
    color: white;
}

.login-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--input-background-color);
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 15px;
    width: 400px;
}

.input-wrapper input {
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    width: 100%;
    outline: none;
    padding-left: 10px;
}

.input-wrapper input::placeholder {
    color: var(--input-placeholder-color);
}

.input-wrapper button {
    box-sizing: border-box;
    background-color: var(--input-button-color); /* Circle background color */
    border: none;
    margin-right: -5px;
    width: 50px; /* Width of the circle */
    height: 50px; /* Height of the circle */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0; /* Prevent shrinking */
    flex-grow: 0;
    padding: 0;
}

.input-wrapper button img {
    width: 20px;
    height: 20px;
    filter: invert(0); /* Optional: Adjust filter based on background color */
}

.profile-images {
    position: absolute; /* Detach this from the normal flow */
    bottom: -40px; /* Place it 40px below the bottom edge of the .login-box */
    left: 50%;
    transform: translateX(-50%); /* Center the images horizontally */
    display: flex;
    gap: 50px; /* Space between profile images */
}

.profile-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
