:root {
    --background-color: #dce4f8;

    --linear-gradient-color-1: #617bda;
    --linear-gradient-color-2: #1134b0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--background-color);
    border-radius: 22px;
    width: 930px;
    height: 330px;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(
        135deg,
        var(--linear-gradient-color-1),
        var(--linear-gradient-color-2)
    );
}

.login-text > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: 1.2;
    font-size: 2em;
    color: white;
    text-align: center;
    font-weight: 700;
}

.login-text > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-field {
    display: flex;
    justify-content: center;
    align-items: center;
}
